@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}
